html, body {
	background: #B0E189;
	padding: 0;
	margin: 0;
}

#main {
	width: 100%;
	height: 30px;
	max-width: 2000px;
	margin: 0 auto;
	margin-top: 10px;
	background: blue;
}
.mass {

	

	width: 30%;

	height: 30px;
	background: gradient(to top, #870020 0%, #e70e2c 100%);

	color: white;
	
	font-family: arial;
	font-size: 18px;
}



