body {

}
h1 {
	color: #FF00FE;
	font-weight: 100;
	font-family: "arial";
}

.cvadrat{
	height: 100px;
	width: 100px;
	background: #006AA7;
	float: left;
	
}

.cvadrat_ye{
	height: 100px;
	width: 100px;
	background: #FECC00;
	float: left;
	
}


.main{
	padding: 20px;
	padding-left: 100px;
	background: #e9f9ed;
	overflow:hidden;
	align-content: center;
	max-width: 750px;
	background: gray;
}

























